footer {
    
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(17, 15, 15);
    color: white;
    text-align: center;
    padding: 12px;
    position: fixed;
    overflow: none;
     }